**ASSIGNMENT OPERATOR:**

In [0]:
x = 1
y = 1
z = (x==y)
x=y
print ((z))
print (type(x))
print(x)

**CALCULATOR PROGRAM:**

In [0]:
def add(x , y):
  print (x +y)
def sub(x , y):
  print(x - y)
def mul(x , y):
  print (x * y)
def div(x , y):
  print(x / y)

print("select opration")
print ('1. add')
print ('2. sub')
print ('3. mul')
print ('4. div')
z = input("Select any operation(1,2,3,4)")

x = int (input("Enter ur first number:"))
y = int (input("Enter ur second number:"))
if z == 1:
  print("addition of given number is" , add (x , y))
elif z==2:
  print("subtraction of given number is" , sub(x , y))
elif z==3:
  print("multiplication of given number is" , mul(x , y))
elif z==4:
  print("division of given number is" , div(x , y))
else:
  print("invalid input")

**IF ELSE:**

In [0]:
a = 3
if a >= 0:
  print ("positive number")
else:
    print("negative number")

**NESTED IF ELSE:**

In [0]:
a = int (input ("Enter a value:"))
b = int (input ("Enter a value:"))
c = int (input ("Enter a value:"))
if (a > b):
  if (a > c):
    print (" a is greater ")
  else:
    print(" c is greater than a ")
else:
  if (b > c):
    print(" b is greatest")
  else:
    print (" c is greatest")

**IF ELIF ELSE:**

In [0]:
a = 4
if a > 0:
  print("positive number")
elif a ==0:
  print ("zero")
else:
  print("negative number")

**TO CHECK DATA TYPES:**

In [0]:
x = 4
y = 5
z = 0.2
a = [1,2,3,4]
print (type (x))
print (type (y))
print (type (z))
print (type (a))

**INT , STR , FLOAT CONVERSION:**

In [0]:
a = int (input("Enter a value:"))
b = float (input("Enter a value:"))
c = str (input("Enter ur name:"))
print (a)
print (b)
print (c)

**CONCATENATE STRING**

In [41]:
x = str(input("Enter ur name: "))
y = str(input("Enter ur surname: "))
z = x + y
print (z)

Enter ur name: ishika
Enter ur surname: misal
ishikamisal